doctype html
//
  Linear by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
head
  title Linear by TEMPLATED
  meta(http-equiv='content-type' content='text/html; charset=utf-8')
  meta(name='description' content='')
  meta(name='keywords' content='')
  link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='/js/skel.min.js')
  script(src='/js/skel-panels.min.js')
  script(src='/js/init.js')
  noscript
    link(rel='stylesheet' href='/css/skel-noscript.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/style-desktop.css')
// Header
#header
  #nav-wrapper
    // Nav
   // nav#nav
      ul
        li.active
          a(href='/index.pug') Homepage
        li
          a(href='/no-sidebar.pug') Sidebar
        li
          a(href='/no-sidebar1.pug') Sidebar
        li
          a(href='/no-sidebar2.pug') Sidebar
  .container
    // Logo
    #logo
      h1
        a(href='#') Linear
      span.tag By TEMPLATED
// Featured
#featured
  .container
    header
      h2 Welcome to Linear
    p
      | This is 
      strong Linear
      | , a responsive HTML5 site template freebie by 
      a(href='http://templated.co') TEMPLATED
      | . Released for free under the 
      a(href='http://templated.co/license') Creative Commons Attribution
      |  license, so use it for whatever (personal or commercial) &ndash; just give us credit! Check out more of our stuff at 
      a(href='http://templated.co') our site
      |  or follow us on 
      a(href='http://twitter.com/templatedco') Twitter
      | .
    hr
    .row
      section.4u
        span.pennant
          span.fa.fa-briefcase
        h3 Maecenas luctus lectus
        p
          | Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.
        a.button.button-style1(href='#') Read More
      section.4u
        span.pennant
          span.fa.fa-lock
        h3 Maecenas luctus lectus
        p
          | Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec magna.
        a.button.button-style1(href='#') Read More
      section.4u
        span.pennant
          span.fa.fa-globe
        h3 Maecenas luctus lectus
        p
          | Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.
        a.button.button-style1(href='#') Read More
// Main
#main
  #content.container
    .row
      section.6u
        a.image.full(href='#')
          img(src='/images/pic01.jpg' alt='')
        header
          h2 Mauris vulputate dolor
        p
          | In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.
      section.6u
        a.image.full(href='#')
          img(src='/images/pic02.jpg' alt='')
        header
          h2 Mauris vulputate dolor
        p
          | In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.
    .row
      section.6u
        a.image.full(href='#')
          img(src='/images/pic03.jpg' alt='')
        header
          h2 Mauris vulputate dolor
        p
          | In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.
      section.6u
        a.image.full(href='#')
          img(src='/images/pic04.jpg' alt='')
        header
          h2 Mauris vulputate dolor
        p
          | In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.
// Tweet
#tweet
  .container
    section
      blockquote
        | &ldquo;In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat.&rdquo;
// Footer
#footer
  .container
    section
      header
        h2 Get in touch
        span.byline Integer sit amet pede vel arcu aliquet pretium
      ul.contact
        li
          a.fa.fa-twitter(href='#')
            span Twitter
        li.active
          a.fa.fa-facebook(href='#')
            span Facebook
        li
          a.fa.fa-dribbble(href='#')
            span Pinterest
        li
          a.fa.fa-tumblr(href='#')
            span Google+
// Copyright
#copyright
  .container
    | Design: 
    a(href='http://templated.co') TEMPLATED
    |  Images: 
    a(href='http://unsplash.com') Unsplash
    |  (
    a(href='http://unsplash.com/cc0') CC0
    | )
